{{#if @credential.isComplete}}
  <div class="font-semibold text-blue-dark text-2xl mb-8">
    Success
  </div>
  <div class="font-muli font-semibold text-grey mb-8" data-test-reset-message="">
    Your password has been updated and can be used to login.
  </div>
{{else}}
  <div class="font-semibold text-blue-dark text-2xl mb-8">
    Reset your password
  </div>
  <div class="font-muli font-semibold text-grey mb-8">
    Enter a new password below, this will replace your existing password.
  </div>
  <form {{action (perform @credential.submitTask) on="submit"}}
    class="relative font-muli text-blue-dark"
  >
    {{#if @credential.error}}
      <div class="mb-8" data-test-error-message="">
        {{@credential.error}}
      </div>
    {{/if}}
    <div class="mb-8">
      <label class="uppercase text-sm font-semibold tracking-wide text-grey-light">
        Password
      </label>
      <div class="pt-2 border-b border-blue-dark">
        {{input
          value=@credential.data.password
          type="password"
          class="py-1 border-none outline-none text-blue-dark font-semibold w-full"
          data-test-password=""
        }}
      </div>
    </div>
    <div class="mb-8">
      <label class="uppercase text-sm font-semibold tracking-wide text-grey-light">
        Password Confirmation
      </label>
      <div class="pt-2 border-b border-blue-dark">
        {{input
          value=@credential.data.passwordConfirm
          type="password"
          class="py-1 border-none outline-none text-blue-dark font-semibold w-full"
          data-test-password-confirm=""
        }}
      </div>
    </div>
    <div class="text-right">
      <input
        type="submit"
        value="Reset password"
        class="py-4 px-12 text-white rounded {{if @credential.isValid "bg-blue" "bg-grey-light"}}"
        data-test-password-reset-button=""
      >
    </div>
  </form>
{{/if}}